<div class="row">
    {{!-- <i id="add-item" type="button" class="btn material-icons" data-toggle="modal" data-target="#add-item-modal">add</i> --}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-item-modal">Add Item</button>
</div>

<table class="table table-hover">
    <thead class="text-center" id="inventory-table-head">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Current Quantity</th>
            <th scope="col">Quantity Needed For The Week</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="text-center" id="inventory-table-body">
        {{#each inventory}}
        <tr data-id={{id}}>
            <td>{{productName}}</td>
            <td>{{currentQuantity}}</td>
            <td>{{weeklyQuantity}}</td>
            <td>${{price}}</td>
            <td><img class="food-icon-inventory" src="{{imageURL}}"></td>
            <td class="edit-item btn material-icons" data-toggle="modal" data-target="#edit-item-modal">edit</td>
            <td>
                <button class="delete-item btn btn-danger" data-toggle="modal"
                    data-target="#delete-item-modal">X</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="add-item-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add an Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-form" data-validate="parsley">
                    <div class="form-group">
                        <label for="product-name">Product Name</label>
                        <input type="text" class="form-control" id="product-name" placeholder="Enter a Product Name"
                            data-parseley-required="true" data-parsley-pattern="^[a-zA-Z]+$"
                            data-parsley-trigger="keyup">
                    </div>
                    <div class="form-group">
                        <label for="current-quantity">Current Quantity</label>
                        <input type="number" class="form-control" id="current-quantity" data-parsley-type="integer">
                    </div>
                    <div class="form-group">
                        <label for="weekly-quantity">Weekly Quantity</label>
                        <input type="number" class="form-control" id="weekly-quantity" data-parsley-type="integer">
                    </div>
                    <div class="form-group">
                        <label for="weekly-quantity">Price</label>
                        <input type="text" class="form-control" id="price" data-parsley-type="digits">
                    </div>
                    <div class="form-group">
                        <label for="product-name">Product URL</label>
                        <input type="url" class="form-control" id="image-URL" placeholder="http://www.google.com" data-parsley-type="url">
                    </div>
                    <submit class="btn btn-primary" id="add-item" data-dismiss="modal">Add Item</submit>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" id="delete-item-confirm" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-item-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit an Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-form">
                    <div class="form-group">
                        <label for="product-name">Product Name</label>
                        <input type="text" class="form-control" id="product-name-update">
                    </div>
                    <div class="form-group">
                        <label for="current-quantity">Current Quantity</label>
                        <input type="text" class="form-control" id="current-quantity-update">
                    </div>
                    <div class="form-group">
                        <label for="weekly-quantity">Weekly Quantity</label>
                        <input type="text" class="form-control" id="weekly-quantity-update">
                    </div>
                    <div class="form-group">
                        <label for="weekly-quantity">Price</label>
                        <input type="text" class="form-control" id="price-update">
                    </div>
                    <div class="form-group">
                        <label for="product-name">Product URL</label>
                        <input type="text" class="form-control" id="image-URL-update">
                    </div>
                    <submit class="btn btn-primary" id="item-update" data-dismiss="modal">Update Item</submit>
                </form>
            </div>
        </div>
    </div>
</div>